In [11]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
df = pd.read_csv("steamspy_data.csv")
df.head(2)

,appid,name,developer,publisher,positive,negative,owners,price,initialprice,discount,languages,genre,ccu,tags
0,10,Counter-Strike,Valve,Valve,216345,5530,"10,000,000 .. 20,000,000",999,999,0,"English, French, German, Italian, Spanish - Sp...",Action,10775,"{'Action': 5448, 'FPS': 4862, 'Multiplayer': 3..."
1,20,Team Fortress Classic,Valve,Valve,6472,990,"5,000,000 .. 10,000,000",499,499,0,"English, French, German, Italian, Spanish - Sp...",Action,77,"{'Action': 759, 'FPS': 320, 'Multiplayer': 272..."

In [13]:
db_connection_string = 'mysql://root:''@localhost:3306/steamspy_data'
engine = create_engine(db_connection_string)

In [14]:
table_name = 'steamspy_data'
df.to_sql(table_name, con=engine, if_exists='replace', index=False)

1000

In [15]:
engine.dispose()