In [18]:
import pandas as pd
df1 = pd.DataFrame({
        'City': ['New York','Chicago','Orlando'],
        'Temprature' : [21,14,35],  
})
df1

       City  Temprature
0  New York          21
1   Chicago          14
2   Orlando          35

In [19]:
df2 = pd.DataFrame({
        'City': ['New York','Chicago','Orlando'],
        'Humidity' : [65,68,75],  
})
df2

       City  Humidity
0  New York        65
1   Chicago        68
2   Orlando        75

In [24]:
# merging/Joining two df using ".merge"
# it's inner join and inner joint is defoult.
# if you want to use outer join then use (how="outer")
df3 = pd.merge(df1, df2, on="City")
df3

       City  Temprature  Humidity
0  New York          21        65
1   Chicago          14        68
2   Orlando          35        75

In [21]:
# if we have two df and in that we have only some data matching.
# to print such data will use outer join will use (how="outer")

In [ ]:
# if you wanted to specify which df column is this then will use "suffixes('_left','_right')"