In [30]:
# if you want to replace some of data cell then you can do it like below

import pandas as pd

def cell_budget(cell):
    if cell == "Not Available":
        return "Amin"
    return cell

def cell_revenue(cell):
    if cell == "Not Available":
        return "Captain"
    return cell

movies = pd.read_excel("C:\\Users\\HP\\Pandas Practice\\Moives DB\\movies_db_excel_Basics.xlsx", "movies", converters={
    'budget': cell_budget,
    'revenue': cell_revenue
})
print(movies)

    movie_id                                        title   industry
0        101                             K.G.F: Chapter 2  Bollywood  \
1        102  Doctor Strange in the Multiverse of Madness  Hollywood
2        103                         Thor: The Dark World  Hollywood
3        104                               Thor: Ragnarok  Hollywood
4        105                       Thor: Love and Thunder  Hollywood
5        106                                       Sholay  Bollywood
6        107                  Dilwale Dulhania Le Jayenge  Bollywood
7        108                                     3 Idiots  Bollywood
8        109                     Kabhi Khushi Kabhie Gham  Bollywood
9        110                              Bajirao Mastani  Bollywood
10       111                     The Shawshank Redemption  Hollywood
11       112                                    Inception  Hollywood
12       113                                 Interstellar  Hollywood
13       115                     The Pursuit of Happyness  Hollywood
14       116                                    Gladiator  Hollywood
15       117                                      Titanic  Hollywood
16       118                        It's a Wonderful Life  Hollywood
17       119                                       Avatar  Hollywood
18       120                                The Godfather  Hollywood
19       121                              The Dark Knight  Hollywood
20       122                             Schindler's List  Hollywood
21       123                                Jurassic Park  Hollywood
22       124                                     Parasite  Hollywood
23       125                            Avengers: Endgame  Hollywood
24       126                       Avengers: Infinity War  Hollywood
25       127                              Pather Panchali  Bollywood
26       128                             Taare Zameen Par  Bollywood
27       129                          Munna Bhai M.B.B.S.  Bollywood
28       130                                           PK  Bollywood
29       131                                        Sanju  Bollywood
30       132                    Pushpa: The Rise - Part 1  Bollywood
31       133                                          RRR  Bollywood
32       134                     Baahubali: The Beginning  Bollywood
33       135                            The Kashmir Files  Bollywood
34       136                            Bajrangi Bhaijaan  Bollywood
35       137           Captain America: The First Avenger  Hollywood
36       138          Captain America: The Winter Soldier  Hollywood
37       139                                       Race 3  Bollywood
38       140                                    Shershaah  Bollywood

    release_year  imdb_rating                     studio  language_id budget
0           2022          8.4              Hombale Films            3      1  \
1           2022          7.0             Marvel Studios            5    200
2           2013          6.8             Marvel Studios            5    165
3           2017          7.9             Marvel Studios            5    180
4           2022          6.8             Marvel Studios            5    250
5           1975          8.1           United Producers            1   Amin
6           1995          8.0             Yash Raj Films            1    400
7           2009          8.4         Vinod Chopra Films            1    550
8           2001          7.4         Dharma Productions            1    390
9           2015          7.2              Not Available            1    1.4
10          1994          9.3  Castle Rock Entertainment            5     25
11          2010          8.8      Warner Bros. Pictures            5   Amin
12          2014          8.6      Warner Bros. Pictures            5    165
13          2006          8.0          Columbia Pictures            5     55
14          2000          8.5         Universal Pictures            5    103
15          1997          7.9         Paramount Pictures            5    200
16          1946          8.6              Liberty Films            5   3.18
17          2009          7.8           20th Century Fox            5    237
18          1972          9.2         Paramount Pictures            5    7.2
19          2008          9.0                    Syncopy            5    185
20          1993          9.0         Universal Pictures            5     22
21          1993          8.2         Universal Pictures            5     63
22          2019          8.5              Not Available            5   15.5
23          2019          8.4             Marvel Studios            5    400
24          2018          8.4             Marvel Studios            5    400
25          1955          8.3  Government of West Bengal            7     70
26          2007          8.3              Not Available            1    120
27          2003          8.1   Vinod Chopra Productions            1    100
28          2014          8.1         Vinod Chopra Films            1    850
29          2018          NaN         Vinod Chopra Films            1      1
30          2021          7.6        Mythri Movie Makers            2      2
31          2022          8.0          DVV Entertainment            2    5.5
32          2015          8.0           Arka Media Works            2    1.8
33          2022          8.3                Zee Studios            1    250
34          2015          8.1          Salman Khan Films            1    900
35          2011          6.9             Marvel Studios            5  216.7
36          2014          7.8             Marvel Studios            5    177
37          2018          1.9          Salman Khan Films            1    1.8
38          2021          8.4         Dharma Productions            1    500

    revenue           unit       currency
0      12.5       Billions            INR
1     954.8       Millions            USD
2     644.8       Millions            USD
3       854       Millions            USD
4       670       Millions            USD
5   Captain  Not Available  Not Available
6      2000       Millions            INR
7      4000       Millions            INR
8      1360       Millions            INR
9       3.5       Billions            INR
10     73.3       Millions            USD
11  Captain  Not Available  Not Available
12    701.8       Millions            USD
13    307.1       Millions            USD
14    460.5       Millions            USD
15     2202       Millions            USD
16      3.3       Millions            USD
17     2847       Millions            USD
18      291       Millions            USD
19     1006       Millions            USD
20    322.2       Millions            USD
21     1046       Millions            USD
22    263.1       Millions            USD
23     2798       Millions            USD
24     2048       Millions            USD
25      100       Millions            INR
26     1350       Millions            INR
27      410       Millions            INR
28     8540       Millions            INR
29      5.9       Billions            INR
30      3.6       Billions            INR
31       12       Billions            INR
32      6.5       Billions            INR
33     3409       Millions            INR
34    11690       Millions            INR
35    370.6       Millions            USD
36    714.4       Millions            USD
37      3.1       Billions            INR
38      950       Millions            INR

In [ ]:
# if you wanted to convert the altered data into excel files then you can doit as follows:
# movies.to_excel("C:\\Users\\HP\\Pandas Practice\\Moives DB\\new_altered.xlsx", sheet_name = 'replaced_data')

In [38]:
import pandas as pd
new_altered = pd.read_excel("C:\\Users\\HP\\Pandas Practice\\Moives DB\\new_altered.xlsx")
new_altered.head(3)

,Unnamed: 0,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
0,0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,1,12.5,Billions,INR
1,1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,200,954.8,Millions,USD
2,2,103,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,5,165,644.8,Millions,USD

In [39]:
import pandas as pd
new_altered1 = pd.read_excel("C:\\Users\\HP\\Pandas Practice\\Moives DB\\new_altered1.xlsx")
new_altered1.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency

In [40]:
with pd.ExcelWriter("C:\\Users\\HP\\Pandas Practice\\Moives DB\\New Microsoft Excel Worksheet.xlsx") as writer:
    movies_financials.to_excel(write, sheet_name="financials")
    movies_financials.to_excel(write, sheet_name="financials")

IndexError: At least one sheet must be visible