In [112]:
import pandas as pd
Movies = pd.read_excel("C:\\Users\\HP\\Pandas Practice\\Moives DB\\movies_db_excel_Basics.xlsx")
Movies.head(2)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,1,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,200,954.8,Millions,USD

In [6]:
Movies.shape

(39, 11)

In [11]:
rows, columns = Movies.shape
columns

11

In [12]:
rows, columns = Movies.shape
rows

39

In [14]:
Movies.head(2)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,1,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,200,954.8,Millions,USD

In [15]:
Movies.tail(2)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
37,139,Race 3,Bollywood,2018,1.9,Salman Khan Films,1,1.8,3.1,Billions,INR
38,140,Shershaah,Bollywood,2021,8.4,Dharma Productions,1,500,950,Millions,INR

In [16]:
Movies.columns

Index(['movie_id', 'title', 'industry', 'release_year', 'imdb_rating',
       'studio', 'language_id', 'budget', 'revenue', 'unit', 'currency'],
      dtype='object')

In [29]:
Movies['studio']

0                 Hombale Films
1                Marvel Studios
2                Marvel Studios
3                Marvel Studios
4                Marvel Studios
5              United Producers
6                Yash Raj Films
7            Vinod Chopra Films
8            Dharma Productions
9                 Not Available
10    Castle Rock Entertainment
11        Warner Bros. Pictures
12        Warner Bros. Pictures
13            Columbia Pictures
14           Universal Pictures
15           Paramount Pictures
16                Liberty Films
17             20th Century Fox
18           Paramount Pictures
19                      Syncopy
20           Universal Pictures
21           Universal Pictures
22                Not Available
23               Marvel Studios
24               Marvel Studios
25    Government of West Bengal
26                Not Available
27     Vinod Chopra Productions
28           Vinod Chopra Films
29           Vinod Chopra Films
30          Mythri Movie Makers
31            DVV Entertainment
32             Arka Media Works
33                  Zee Studios
34            Salman Khan Films
35               Marvel Studios
36               Marvel Studios
37            Salman Khan Films
38           Dharma Productions
Name: studio, dtype: object

In [33]:
type(Movies['budget'])

pandas.core.series.Series

In [7]:
Movies['imdb_rating'].mean()

7.947368421052632

In [4]:
Movies['imdb_rating'].median()

8.1

In [5]:
Movies['imdb_rating'].mode()

0    8.4
Name: imdb_rating, dtype: float64

In [35]:
Movies.describe()

         movie_id  release_year  imdb_rating  language_id
count   39.000000     39.000000    38.000000    39.000000
mean   120.666667   2006.282051     7.947368     3.435897
std     11.795033     17.945750     1.180869     1.970772
min    101.000000   1946.000000     1.900000     1.000000
25%    110.500000   2000.500000     7.825000     1.000000
50%    121.000000   2013.000000     8.100000     5.000000
75%    130.500000   2018.000000     8.400000     5.000000
max    140.000000   2022.000000     9.300000     7.000000

In [50]:
Movies.loc[0]

movie_id                     101
title           K.G.F: Chapter 2
industry               Bollywood
release_year                2022
imdb_rating                  8.4
studio             Hombale Films
language_id                    3
budget                         1
revenue                     12.5
unit                    Billions
currency                     INR
Name: 0, dtype: object

In [98]:
Movies.head(2)

,movie_id,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,1,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,200,954.8,Millions,USD

In [99]:
Movies.set_index('movie_id', inplace=True) ##its used to set a index.

In [100]:
Movies.head(2)

,title,industry,release_year,imdb_rating,studio,language_id,budget,revenue,unit,currency
movie_id,,,,,,,,,,
101,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,3,1,12.5,Billions,INR
102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,5,200,954.8,Millions,USD

In [90]:
Movies.loc[101]

title           K.G.F: Chapter 2
industry               Bollywood
release_year                2022
imdb_rating                  8.4
studio             Hombale Films
language_id                    3
budget                         1
revenue                     12.5
unit                    Billions
currency                     INR
Name: 101, dtype: object

In [102]:
Movies.set_index('imdb_rating', inplace=True) ##its used to set a index.

In [103]:
Movies.head(2)

,movie_id,title,industry,release_year,studio,language_id,budget,revenue,unit,currency
imdb_rating,,,,,,,,,,
8.4,101,K.G.F: Chapter 2,Bollywood,2022,Hombale Films,3,1,12.5,Billions,INR
7.0,102,Doctor Strange in the Multiverse of Madness,Hollywood,2022,Marvel Studios,5,200,954.8,Millions,USD

In [110]:
Movies.loc[9.0]

,movie_id,title,industry,release_year,studio,language_id,budget,revenue,unit,currency
imdb_rating,,,,,,,,,,
9.0,121,The Dark Knight,Hollywood,2008,Syncopy,5,185,1006,Millions,USD
9.0,122,Schindler's List,Hollywood,1993,Universal Pictures,5,22,322.2,Millions,USD

In [101]:
Movies.reset_index(inplace=True) ##its used to reset index.

In [92]:
Movies.imdb_rating.max()

9.3

In [10]:
INR=Movies['title'][Movies['currency']=='INR']
INR

0                K.G.F: Chapter 2
6     Dilwale Dulhania Le Jayenge
7                        3 Idiots
8        Kabhi Khushi Kabhie Gham
9                 Bajirao Mastani
25                Pather Panchali
26               Taare Zameen Par
27            Munna Bhai M.B.B.S.
28                             PK
29                          Sanju
30      Pushpa: The Rise - Part 1
31                            RRR
32       Baahubali: The Beginning
33              The Kashmir Files
34              Bajrangi Bhaijaan
37                         Race 3
38                      Shershaah
Name: title, dtype: object

In [11]:
INR_budget=Movies['budget'][Movies['currency']=='INR']
INR_budget

0       1
6     400
7     550
8     390
9     1.4
25     70
26    120
27    100
28    850
29      1
30      2
31    5.5
32    1.8
33    250
34    900
37    1.8
38    500
Name: budget, dtype: object

In [12]:
INR_revenue=Movies['revenue'][Movies['currency']=='INR']
INR_revenue

0      12.5
6      2000
7      4000
8      1360
9       3.5
25      100
26     1350
27      410
28     8540
29      5.9
30      3.6
31       12
32      6.5
33     3409
34    11690
37      3.1
38      950
Name: revenue, dtype: object

In [29]:
Movies['revenue'] = pd.to_numeric(Movies['revenue'], errors='coerce')
Movies['revenue'].mode()

0         3.1
1         3.3
2         3.5
3         3.6
4         5.9
5         6.5
6        12.0
7        12.5
8        73.3
9       100.0
10      263.1
11      291.0
12      307.1
13      322.2
14      370.6
15      410.0
16      460.5
17      644.8
18      670.0
19      701.8
20      714.4
21      854.0
22      950.0
23      954.8
24     1006.0
25     1046.0
26     1350.0
27     1360.0
28     2000.0
29     2048.0
30     2202.0
31     2798.0
32     2847.0
33     3409.0
34     4000.0
35     8540.0
36    11690.0
Name: revenue, dtype: float64

In [48]:
# # Assuming you have a DataFrame named Amin1
# Amin1.to_excel("C:\\Users\\HP\\Pandas Practice\\Moives DB", index=False)